.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}
body{
  background-color: #EAE8E9;
}
.side-menu{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #06B8DE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
  border-radius: 0px 20px 20px 0px;
}

.navigation ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  list-style: none;
}
.navigation ul li{
  width: 100%;
  border-bottom: 1px solid white;
  padding: 5px 1px 15px 1px;
}
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul li a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.cash-register{
  margin-right: 5px;
  margin-left: 5px;
}
.repairs{
  margin-left: 5px;
  margin-right: 5px;
}
.devices{
  margin-right: 10px;
  margin-left: 6px;
}
.customers{
  margin-right: 8px;
  margin-left: 5px;
}
.invoice{
  margin-right: 6px;
  margin-left: 5px;
}
.purchase-order{
  margin-right: 5px;
}

.appointment{
  margin-left: 5px;
  margin-right: 7px;
}
.products{
  margin-left: 1px;
  margin-right: 7px;
}
.notes-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.notes-para{
  margin-bottom: 0px;
  color: white;
  font-size: 13px;
}


.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 0px 0px 40px 0px;
}
.navbar{
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
.navbar-links{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.search{
  background-color: #D8D8D8;
  border-radius: 7px;
  padding: 7px;
}
input[type="search"]{
  background-color: transparent;
  padding-left: 5px;
  font-size: 14px;
  outline: none;
  border: none;
}
input[type="search"]::placeholder{
  font-size: 14px;
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profile-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile h5{
  margin: 0px;
  font-weight: bolder;
}
.profile p{
  margin: 0px;
  font-size: 12px;
}

.user-stats{
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
  margin-left: 50px;
}
.first-div{
  width: 75%;
}
.first-div h3{
  margin-left: 10px;
  margin-bottom: 10px;
}
.second-div{
  width: 25%;
  background-color: #F1A0FF;
  padding: 10px 15px;
  border-radius: 25px;
}
.nile-stats{
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  gap: 20px;
}
.flex-stats,.flex-stats2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.flex-stats p{
  font-size: 13px;
}
.flex-stats h4{
  color: #C2C2C2;
  font-weight: lighter;
}
.icons{
  padding: 17px 25px;
  border-radius: 50%;
  background-color: #D5FEE8;
}
.icon1{
  color: #2D945F;
}
.icon2{
  color: #2E70AE;
  background-color: #CBF0FF;
}
.icon3{
  color: #972944;
  background-color: #FFBCE3;
}

.flex-stats2 h4{
  font-size: 15px;
  margin-bottom: 10px;
}
.flex-stats2 p{
  font-size: 13px;
}
.person-image{
  width: 100px;
  height: 125px;
}

