.App{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}
body{
  background-color: #EAE8E9;
}
.side-menu{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #06B8DE;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
  border-radius: 0px 20px 20px 0px;
}

.navigation ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  list-style: none;
}
.navigation ul li{
  width: 100%;
  border-bottom: 1px solid white;
  padding: 5px 1px 15px 1px;
}
.links{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul li a{
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.cash-register{
  margin-right: 5px;
  margin-left: 5px;
}
.repairs{
  margin-left: 5px;
  margin-right: 5px;
}
.devices{
  margin-right: 10px;
  margin-left: 6px;
}
.customers{
  margin-right: 8px;
  margin-left: 5px;
}
.invoice{
  margin-right: 6px;
  margin-left: 5px;
}
.purchase-order{
  margin-right: 5px;
}

.appointment{
  margin-left: 5px;
  margin-right: 7px;
}
.products{
  margin-left: 1px;
  margin-right: 7px;
}
.notes-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.notes-para{
  margin-bottom: 0px;
  color: white;
  font-size: 13px;
}


.header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 0px 0px 40px 0px;
}
.navbar{
  width: 78%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
.navbar-links{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-search{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.search{
  background-color: #D8D8D8;
  border-radius: 7px;
  padding: 7px;
}
input[type="search"]{
  background-color: transparent;
  padding-left: 5px;
  font-size: 14px;
  outline: none;
  border: none;
}
input[type="search"]::placeholder{
  font-size: 14px;
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.profile-image{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.profile h5{
  margin: 0px;
  font-weight: bolder;
}
.profile p{
  margin: 0px;
  font-size: 12px;
}



.stats{
  margin-left: 80px;
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px;
  margin-top: 20px;
  padding: 15px 20px;
}
.stats-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.stats-heading h5{
  font-size: 14px;
  margin-bottom: 0px;
  color: #B7B7B7;
}
.stats-heading p{
  margin-top: 5px;
  font-size: 12px;
  text-align: center;
}
.active-heading{
  margin-top: 0px;
}
.icon{
  padding: 12px;
  background-color: #E0FEEF;
  border-radius: 50%;
}


.table-container{
  margin-left: 100px;
  width: 87%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-top: 15px;
}
.sort-container,.data-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
.active-tickets p{
  margin-top: 10px;
  color: #7BD2BA;
  font-size: 12px;
  font-weight: bolder;
}
.active-tickets h3{
  margin-bottom: 0px;
}
.search2::placeholder{
  color: #CACBCF;
}
select{
  width: 116px;
  background-color: transparent;
  outline: none;
  border: none;
}

.status,.sort-date,.sort-name{
  background-color: #FAFBFF;
}
.status,.sort-date,.sort-name label{
  font-size: 14px;
  color: #B7B7B7;
}

.table{
  width: 100%;
}
thead{
  position: relative;
}
thead::after{
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ABABAB;
}
.table table{
  width: 100%;
}
.date-created p:nth-child(1){
  margin-top: 10px;
}
th{
  font-size: 13px;
}
tr{
  text-align: center;
  font-size: 12px;
  }
 tbody{
  height: 400px;
 }




.status-btn{
  width: 35%;
  height: 25px;
  border-radius: 3px;
  font-weight: bolder;
}
.btn-new{
  border: solid 2px #5BA792;
  color: #188369;
  background-color: #A7E7D6;
}
.btn-notfix{
  border: solid 2px #AB5B59;
  color: #A51D26;
  background-color: #FCC5C7;
}
.btn-out{
  background-color: #105FBC;
  color: white;
  border: none;
}
.btn-finish{
  background-color: #F9D763;
  color: black;
  border: none;
}
.btn-wait{
  background-color: #E39EFA;
  color: #37677A;
  border: solid 2px #AA63CA;
  height: 35px;
}

.data-container{
  padding: 15px 50px;
}
.data-container p{
  font-size: 13px;
  color: #CACACC;
}



.pagination {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn {
  background-color: #F5F5F5;
  border: none;
  height: 20px;
  width: 20px;
  border-radius: 3px;
  cursor: pointer;
}

.btn-icon {
  width: 10px;
  height: 10px;
  stroke: black;
}

.btn:hover {
  background-color: #1AC3E4;
}

.btn:hover .btn-icon {
  stroke: #fff;
}

.page-link:link,
.page-link:visited {
  background-color: #F5F5F5;

  border-radius: 3px;
  text-decoration: none;
  color: black;
  font-size: 13px;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2px;
}

.page-link:hover,
.page-link:active,
.page-link.page-link--current {
  background-color: #1AC3E4;
  color: #fff;
  border: solid 1px #3B74B4;
}

.dots {
  color: #868e96;
}

